* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}


*::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	background-color: #F5F5F5;
}
 
/*定义滚动条轨道 内阴影+圆角*/
*::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 5px;
	background-color: #F5F5F5;
}
 
/*定义滑块 内阴影+圆角*/
*::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: #999;
}

.nav {
    width: 80px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.nav .nav-inside {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    background-color: rgba(255, 255, 255, .08);
    border-left: 1px solid rgba(255, 255, 255, .14);
    box-sizing: border-box;
}


.nav .menu {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.nav .menu img {
    width: 30px;
    height: 30px;
}

.nav .menu span {
    font-size: 14px;
    color: #515151;
}

.nav .product-center {
    width: 80px;
    height: 180px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 16px;
    color: #F9F9F9;
    cursor: pointer;
}

.nav .product-center span {
    width: 30px;
    white-space: wrap;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.nav .product {
    width: 120px;
    height: 180px;
    background-color: #23344D;
    position: absolute;
    top: 50%;
    left: -40px;
    border-radius: 90px 0 0 90px;
    transform: translateY(-50%);
}

.nav .product span {
    width: 28px;
    height: 4px;
    background-color: #F9F9F9;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.nav .nav-outside {
    width: 60%;
    height: 100%;
    position: fixed;
    right: -60%;
    top: 0;
    z-index: 12;
    display: flex;
    background-color: #fff;
}

.nav .nav-outside .close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.nav .nav-outside .nav-outside-block {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

.nav .nav-outside .nav-outside-block .content {
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 40px;
    overflow: auto;
}

.nav .nav-outside .nav-outside-block .content .title {
    width: 60px;
    white-space: wrap;
    font-size: 24px;
    color: #656E7D;
    margin-bottom: 10px;
}

.nav .nav-outside .nav-outside-block .content p {
    font-size: 14px;
    color: #656E7D;
    line-height: 25px;
    margin-bottom: 15px;
}

.nav .nav-outside .nav-outside-block .content .indent {
    text-indent: 2em;
}

.nav .nav-outside .nav-outside-block .content .phone {
    font-size: 22px;
    color: #656E7D;
    font-weight: bold;
}

.nav .nav-outside .nav-outside-block .content .shop {
    width: 350px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav .nav-outside .nav-outside-block .content .logos {
    width: 100%;
    font-size: 0;
}

.nav .nav-outside .nav-outside-block .content .logos img {
    width: 24%;
}

.nav .nav-outside .nav-outside-block .content .shop img {
    width: 160px;
    height: 48px;
    cursor: pointer;
}

.nav .nav-outside .nav-outside-block .content .row {
    cursor: pointer;
    margin-bottom: 40px;
}

.nav .nav-outside .nav-outside-block .content .row:last-child {
    margin-bottom: 0;
} 

.nav .nav-outside .nav-outside-block .content .row .menu-text {
    display: inline-block;
    position: relative;
    margin-left: 50px;
}

.nav .nav-outside .nav-outside-block .content .row .active .active {
    height: 12px;
    background: #008DDC;
    opacity: 0.4;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.nav .nav-outside .nav-outside-block .content .row .active .grey {
    display: none;
}

.nav .nav-outside .nav-outside-block .content .row .label {
    font-size: 24px;
    line-height: 40px;
    color: #656E7D;
    font-weight: bold;
    margin: 0 5px;
}

.nav .nav-outside .nav-outside-block .content .row .grey {
    height: 12px;
    background: #DAE0E9;
    opacity: 0.6;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all .2s linear;
}

.nav .nav-outside .nav-outside-block .content .row .english {
    font-size: 16px;
    line-height: 16px;
    color: #9BA2AE;
    margin-top: 6px;
    display: block;
    margin-left: 65px;
}

.nav .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
}


footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

footer a {
    margin-left: 10px;
    color: #fff;
}