.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0;
    position: relative;
}

.wrapper .logo {
    width: 10.938vw;
    height: 5.913vh;
    position: absolute;
    top: 2.112vh;
    left: 2.083vw;
    z-index: 10;
}

.wrapper .mobile-close {
    display: none;
}

.wrapper .logo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.wrapper .page-left {
    width: 25.208vw;
    height: calc(100% - 3.168vh);
    display: inline-flex;
    vertical-align: top;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 4.948vw;
}

.wrapper .page-left .row {
    width: 100%;
    display: block;
    margin-bottom: 4.224vh;
    text-decoration: none;
    position: relative;
}

.wrapper .page-left .row .label {
    font-size: 0.938vw;
    color: #3E4045;
    padding-left: 1.042vw;
    font-weight: 600;
}

.wrapper .page-left .row .blue {
    width: 6.25vw;
    height: 1.584vh;
    background-color: #008DDC;
    opacity: .4;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.wrapper .page-left .row .grey {
    width: 0;
    height: 1.584vh;
    background-color: #DAE0E9;
    opacity: .6;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .2s linear;
}

.wrapper .page-left .row:hover .grey{
    width: 6.25vw;
}

.wrapper .page-left .active .label {
    font-size: 1.458vw;
}

.wrapper .page-left .active .blue {
    display: block;
}

.wrapper .page-left .active .grey {
    display: none;
}

.wrapper .page-right {
    width: calc(100% - 28.7vw);
    overflow-y: auto;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    animation: show .2s;
    box-sizing: border-box;
    padding-top: 5.616vh;
    padding-bottom: 4vh;
    animation: show .2s;
    position: relative;
}

@keyframes show {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {}
}

.wrapper .page-right .title {
    font-weight: 500;
    color: #666F7E;
    font-size: 2.083vw;
    line-height: 2.917vw;
    text-align: center;
}

.wrapper .page-right .content {
    width: 60.48vw;
    margin: 0 auto;
    margin-top: 7.137vh;
    display: flex;
}

.wrapper .page-right .content .block {
    flex: 1;
    text-align: left;
}

.wrapper .page-right .content .block p {
    font-size: 0.938vw;
    line-height: 1.89vw;
    color: #656E7D;
}

.wrapper .page-right .navs {
    width: 60.156vw;
    margin: 0 auto;
    height: 6.441vh;
    margin-top:  4.448vh;
    position: relative;
}

.wrapper .page-right .navs .content {
    width: 59vw;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    padding: 0 .2rem;
}

.wrapper .page-right .navs .content .inside {
    white-space: nowrap;
    overflow-x: auto;
}

.wrapper .page-right .navs .content::-webkit-scrollbar {
    width: 0;
}

.wrapper .page-right .navs .btn {
    width: 1vw;
    height: 6.441vh;
    position: absolute;
    top: 0;
    cursor: pointer;
    transition: all .2s linear;
}

.wrapper .page-right .navs .btn:hover {
    background-color: rgba(57, 159, 98, 1);
}

.wrapper .page-right .navs .left {
    left: -1vw;
    border-radius: .3vw 0 0 .3vw;
    background: url(/images/icons/left.png) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(57, 159, 98, .29);
}

.wrapper .page-right .navs .right {
    right: -1vw;
    border-radius: 0 .3vw .3vw 0;
    background: url(/images/icons/right.png) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(57, 159, 98, .29);
}

.wrapper .page-right .navs .box {
    height: 100%;
    background-color: rgba(57, 159, 98, .29);
    min-width: 8.177vw;
    border-radius: 0.417vw;
    display: inline-block;
    margin-right: 2.083vw;
    font-size: 0.938vw;
    text-align: center;
    line-height: 6.441vh;
    color: #fff;
    cursor: pointer;
    transition: all .2s linear;
}

.wrapper .page-right .navs .active {
    background-color: #399F62;
}

.wrapper .page-right .contentwrap {
    width: 60.156vw;
    margin: 4vh auto;
    height: 38.015vh;
    background-color: #E6F5F2;
    box-sizing: border-box;
    padding: 7.392vh 2.396vw;
    font-size: 0.938vw;
    line-height: 1.146vw;
    color: #656E7D;
    display: block;
}

.wrapper .page-right .contentwrap p {
    margin-bottom: 2vh;
}