.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0;
    position: relative;
}

.wrapper .logo {
    width: 10.938vw;
    height: 5.913vh;
    position: absolute;
    top: 2.112vh;
    left: 2.083vw;
    z-index: 10;
}

.wrapper .mobile-close {
    display: none;
}

.wrapper .logo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.wrapper .page-left {
    width: 25.208vw;
    height: calc(100% - 3.168vh);
    display: inline-flex;
    vertical-align: top;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 4.948vw;
}

.wrapper .page-left .row {
    width: 100%;
    display: block;
    margin-bottom: 4.224vh;
    text-decoration: none;
    position: relative;
}

.wrapper .page-left .row .label {
    font-size: 0.938vw;
    color: #3E4045;
    padding-left: 1.042vw;
    font-weight: 600;
}

.wrapper .page-left .row .blue {
    width: 6.25vw;
    height: 1.584vh;
    background-color: #008DDC;
    opacity: .4;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.wrapper .page-left .row .grey {
    width: 0;
    height: 1.584vh;
    background-color: #DAE0E9;
    opacity: .6;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .2s linear;
}

.wrapper .page-left .row:hover .grey{
    width: 6.25vw;
}

.wrapper .page-left .active .label {
    font-size: 1.458vw;
}

.wrapper .page-left .active .blue {
    display: block;
}

.wrapper .page-left .active .grey {
    display: none;
}

.wrapper .page-right {
    width: calc(100% - 28.7vw);
    overflow-y: auto;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    animation: show .2s;
    box-sizing: border-box;
    padding-top: 5.616vh;
    padding-bottom: 4vh;
    animation: show .2s;
    position: relative;
}

@keyframes show {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {}
}

.wrapper .page-right .title {
    font-weight: 500;
    color: #666F7E;
    font-size: 2.083vw;
    line-height: 2.917vw;
    text-align: center;
}

.wrapper .page-right .sub-title {
    font-weight: 500;
    color: #666F7E;
    font-size: 1.25vw;
    line-height: 1.719vw;
    margin-top: 1.056vh;
    text-align: center;
}

.wrapper .page-right .content {
    width: 61.979vw;
    margin: 0 auto;
    margin-top: 4.224vh;
    display: flex;
    justify-content: space-around;
}

.wrapper .page-right .content .block {
    width: 5.99vw;
    min-height: 60vh;
}

.wrapper .page-right .step {
    width: 100%;
    height: 10.56vh;
    position: relative;
}

.wrapper .page-right .step .date {
    color: #858C98;
    font-size: 0.729vw;
    line-height: 1.042vw;
    font-weight: 500;
}

.wrapper .page-right .step .big {
    width: 1.25vw;
    height: 2.534vh;
    border-radius: 50%;
    background-color: rgba(198, 203, 213, .3);
    display: inline-flex;
    position: absolute;
    top: 2.534vh;
    left: 0.521vw;
    justify-content: center;
    align-items: center;
}

.wrapper .page-right .step .small {
    width:  0.625vw;
    height: 1.267vh;
    border-radius: 50%;
    display: inline-block;
    background-color: #C6CBD5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .page-right .step .lineDown {
    display: block;
    position: absolute;
    width: 1px;
    height: 6.6vh;
    background-color: #C6CBD5;
    top: 4vh;
    left: 1.146vw;
}

.wrapper .page-right .step .lineUp {
    display: block;
    position: absolute;
    width: 8.7vw;
    height: 2px;
    background-color: #C6CBD5;
    top: 3.75vh;
    left: 1.146vw;
}

.wrapper .page-right .step .none {
    width: 3vw;
}

.wrapper .page-right .step .active {
    background-color: rgba(148, 183, 253, .3);
    z-index: 4;
}

.wrapper .page-right .step .active .small {
    background-color: #94B7FD;
    z-index: 4;
}

.wrapper .page-right .box {
    width: 5.99vw;
    box-sizing: border-box;
    border-radius: 0.208vw;
    padding: 0.422vh 0.208vw;
    border: 1px solid #C6CBD5;
    background-color: #fff;
    margin-bottom: 1.901vh;
    position: relative;
}

.wrapper .page-right .box .name {
    font-size: 0.729vw;
    line-height: 1.042vw;
    color: #666F7E;
    display: block;
}

.wrapper .page-right .box .description {
    color: #B8BBC1;
    font-size: 0.729vw;
    line-height: 1.042vw;
}

.wrapper .page-right .box .box-line {
    width: 1px;
    height: 2vh;
    background-color: #C6CBD5;
    display: inline-block;
    position: absolute;
    bottom: -2vh;
    left: 1.146vw;
}