.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0;
}

.wrapper .swiper {
    width: 100%;
    height: 100%;
}

.wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
}

.wrapper .swiper-pagination {
    display: none;
}

.wrapper .logo {
    width: 10.938vw;
    height: 5.913vh;
    position: absolute;
    top: 2.112vh;
    left: 2.083vw;
    z-index: 10;
}

.wrapper .mobile-close {
    display: none;
}

.wrapper .logo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.wrapper .swiper-index {
    position: absolute;
    left: 2.0834vw;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    width:2.083vw;
}

.wrapper .swiper-index .group {
    padding-bottom: 1.056vh;
}

.wrapper .swiper-index .arc {
    width: 0.417vw;
    height: 0.845vh;
    display: block;
    border-radius: 50%; 
    background-color: #fff;
    transition: all .2s linear;
    position: relative;
}

.wrapper .swiper-index .arc span {
    position: absolute;
    font-size: 0.729vw;
    color: #fff;
    right: -1.302vw;
    top: -0.845vh;
    opacity: 0;
    transition: opacity .2s linear;
}

.wrapper .swiper-index .active {
    width: 1.354vw;
    height: 0.211vh;
    background-color: #fff;
    display: block;
    border-radius: 0;
}

.wrapper .swiper-index .active span {
    opacity: 1;
}

.wrapper .swiper-index .arc-small {
    width: 0.208vw;
    height: 0.422vh;
    border-radius: 50%;
    background-color: #ccc;
    display: block;
    margin-top: 1.056vh;
    position: relative;
    left: 0.104vw;
}

.wrapper .swiper-index .group:last-child {
    padding-bottom: 0;
}

.wrapper .swiper-index .group:last-child .arc-small {
    display: none;
}

.wrapper .mouse {
    position: absolute;
    bottom: 6.336vh;
    left: 50%;
    transform: translateX(-50%);
    width: 1.354vw;
    height: 2.746vh;
    z-index: 7;
    animation: move 2s infinite;
}

.wrapper .mobile-nav-btn-black {
    display: none;
}

@keyframes move {
    0% {
        transform: translateX(-50%) translateY(10px);
    }
    50% {
        transform: translateX(-50%) translateY(0px);
    }
    100% {
        transform: translateX(-50%) translateY(10px);
    }
}