.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0;
    position: relative;
}

.wrapper .logo {
    width: 10.938vw;
    height: 5.913vh;
    position: absolute;
    top: 2.112vh;
    left: 2.083vw;
    z-index: 10;
}

.wrapper .mobile-close {
    display: none;
}

.wrapper .logo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.wrapper .page-left {
    width: 25.208vw;
    height: calc(100% - 3.168vh);
    display: inline-flex;
    vertical-align: top;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 4.948vw;
}

.wrapper .page-left .row {
    width: 100%;
    display: block;
    margin-bottom: 4.224vh;
    text-decoration: none;
    position: relative;
}

.wrapper .page-left .row .label {
    font-size: 0.938vw;
    color: #3E4045;
    padding-left: 1.042vw;
    font-weight: 600;
}

.wrapper .page-left .row .blue {
    width: 6.25vw;
    height: 1.584vh;
    background-color: #008DDC;
    opacity: .4;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.wrapper .page-left .row .grey {
    width: 0;
    height: 1.584vh;
    background-color: #DAE0E9;
    opacity: .6;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .2s linear;
}

.wrapper .page-left .row:hover .grey{
    width: 6.25vw;
}

.wrapper .page-left .active .label {
    font-size: 1.458vw;
}

.wrapper .page-left .active .blue {
    display: block;
}

.wrapper .page-left .active .grey {
    display: none;
}

.wrapper .page-right {
    width: calc(100% - 28.7vw);
    overflow-y: auto;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    animation: show .2s;
    box-sizing: border-box;
    padding-top: 5.616vh;
    padding-bottom: 4vh;
    animation: show .2s;
}

@keyframes show {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {}
}

.wrapper .page-right .title {
    font-weight: 500;
    color: #666F7E;
    font-size: 2.083vw;
    line-height: 2.917vw;
    text-align: center;
}

.wrapper .page-right .sub-title {
    font-weight: 500;
    color: #666F7E;
    font-size: 1.25vw;
    line-height: 1.719vw;
    margin-top: 1.056vh;
    text-align: center;
}

.wrapper .page-right .swiper {
    width: 90%;
    margin: 0 auto;
    margin-top: 3.907vh;
}

.wrapper .page-right .swiper img {
    height: 33.052vh;
}

.wrapper .page-right .box-wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 3.224vh;
}

.wrapper .page-right .box {
    width: 20.052vw;
    height: 23.548vh;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    border-radius: .3vw;
    box-shadow: 0 0 0.781vw rgba(0,0,0,.15);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.667vw;
    margin-bottom: 4.224vh;
}

.wrapper .page-right .box:nth-of-type(3n) {
    margin-right: 0;
}

.wrapper .page-right .box .info {
    width: 10.885vw;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.wrapper .page-right .box .title {
    width: 100%;
    font-size: 1.042vw;
    line-height: 1.458vw;
    color: #666F7E;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.wrapper .page-right .box .description {
    color: #666F7E;
    font-size: 0.729vw;
    line-height: 1.042vw;
}

.wrapper .page-right .box img {
    height: 100%;
    margin-right: .7vw;
    display: inline-block;
}

.wrapper .page-right .box .date {
    width: 100%;
    color: #A6AFBF;
    font-size: 0.625vw;
    line-height: 0.885vw;
}

@keyframes show {
    form {
        transform: translate(30px);
        opacity: 0;
    }
    to {}
}