.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0;
}

.wrapper #charts-mobile {
    display: none;
}

.wrapper .page-left {
    width: 25.208vw;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    vertical-align: top;
}

.wrapper .page-left .title {
    color: #666F7E;
    font-size: 2.083vw;
}

.wrapper .page-left .content {
    width: 17.188vw;
    color: #858C98;
}

.wrapper .page-left .content p {
    margin-top: 2.112vh;
    font-size: 0.938vw;
}

.wrapper .page-right {
    width: calc(100% - 30vw);
    height: 100%;
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 2.813vw;
}

.wrapper .page-right .title {
    width: 100%;
    color: #666F7E;
    font-size: 1.563vw;
    text-align: left; 
}

.wrapper .page-right .subtitle {
    width: 100%;
    font-size: 0.833vw;
    color: #666F7E;
    text-align: left;
    margin-top: 1.162vh;
}

.wrapper .page-right .inpit-wrapper {
    width: 100%;
    margin-top: 3.801vh;
}

.wrapper .page-right .inpit-wrapper .box {
    width: 20vw;
    height: 5.913vh;
    border-radius: 2.292vw;
    background-color: #EDEFF1;
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 1.042vw; 
    vertical-align: top;
    margin-right: 1.25vw;
    margin-bottom: 2.746vh;
}

.wrapper .page-right .inpit-wrapper .box:nth-of-type(3) {
    margin-right: 0;
}

.wrapper .page-right .inpit-wrapper .box .label {
    font-size: 0.833vw;
    color: #303133;
    line-height: 5.913vh;
    position: absolute;
    top: 0;
    left: 1.042vw;
}

.wrapper .page-right .inpit-wrapper .box .unit {
    font-size: 0.833vw;
    color: #303133;
    line-height: 5.913vh;
}

.wrapper .page-right .inpit-wrapper .box input {
    width: 6.771vw;
    height: 100%;
    line-height: 5.913vh;
    font-size: 0.938vw;
    color: #56AB79;
    border: none;
    outline: none;
    background-color: #EDEFF1;
}

.wrapper .page-right .inpit-wrapper .box input::placeholder {
    color: #56AB79;
    font-size: 0.729vw;
}

.wrapper .page-right .btn {
    width: 8.125vw;
    height: 5.913vh;
    color: #fff;
    font-size: 1.042vw;
    line-height: 5.913vh;
    background: linear-gradient(260deg, #6ACD79 0%, #399F62 100%);
    border-radius: 1.458vw;
    text-align: center;
    margin-left: -6.167vw;
    cursor: pointer;
}

.wrapper #charts-pc {
    width: 64.5vw;
    height: 50.686vh;
    margin-top: 4.224vh;
}