.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0;
}

.wrapper .product-nav {
    width: 36.302vw;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
}

.wrapper .logo {
    width: 10.938vw;
    height: 5.913vh;
    position: absolute;
    left: 1.042vw;
    top: 2.112vh;
}

.wrapper .product-content {
    width: calc(100% - 36.2vw - 3.1vw);
    height: 100%;
    display: inline-block;
    overflow: auto;
}

.wrapper .product-block {
    width: 19.792vw;
    height: 38.015vh;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    cursor: pointer;
}

.wrapper .product-block:hover .background-arc{
    transform: scale(3, 3);
}

.wrapper .product-block:nth-of-type(3n) {
    border-right: none;
}

.wrapper .product-block-companyName {
    color: #656E7D;
    font-size: 0.729vw;
    text-align: center;
    margin-top: 4.752vh;
}

.wrapper .product-block-deviceName {
    color: #656E7D;
    font-size: 0.938vw;
    text-align: center;
    margin-top: 1.69vh;
}

.wrapper .product-block-deviceImg {
    width: 13.021vw;
    height: 21.119vh;
    margin: 0 auto;
    border: 1px solid red;
    margin-top: 1.056vh;
}

.wrapper .product-block-deviceModel {
    color: #ABB2BF;
    font-size: 0.625vw;
    text-align: center;
}

.wrapper .background-arc {
    width: 13.542vw;
    height: 27.455vh;
    background-color: #E8EBF0;
    border-radius: 50%;
    position: absolute;
    top: 2.640vh;
    left: 50%;
    margin-left: -6.771vw;
    z-index: -1;
    transition: transform .5s linear;
}