.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0;
}

.wrapper .product-nav {
    width: 36.302vw;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
    padding: 16.895vh 4.948vw 10vh 4.948vw;
    position: relative;
}

.wrapper .product-nav .product-nav-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper .overflowauto {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.wrapper .product-nav .transparent {
    width: 90%;
    height: 7.224vh;
    position: absolute;
    left: 0;
    z-index: 3;
}

.product-nav-content .row {
    width: 100%;
    display: block;
    text-decoration: none;
    margin-bottom: 4.224vh;
}

.product-nav-content .row div {
    display: inline-block;
}

.product-nav-content .row .label {
    font-size: 1.258vw;
    color: #3E4045;
    padding: .5vh 1.042vw;
    position: relative;
    overflow-x: hidden;
}

.product-nav-content .row .grey {
    width: 100%;
    height: 1.8vh;
    position: absolute;
    left: -100%;
    display: block;
    bottom: 0;
    opacity: .6;
    background-color: #DAE0E9;
    transition: all .2s linear;
}

.product-nav-content .row .label:hover .grey{
    left: 0;
}

.product-nav-content .none-block {
    width: 100%;
    height: 4.224vh;
}

.product-nav-content .active .active {
    width: 100%;
    height: 1.8vh;
    background-color: #008DDC;
    opacity: .4;
    position: absolute;
    left: 0;
    bottom: -.5vh;
}

.product-nav-content .active .grey {
    display: none;
}

.wrapper .product-nav .top {
    top: 0;
    background: linear-gradient(to bottom, rgb(255, 255, 255), transparent);
}

.wrapper .product-nav .bottom {
    bottom: 0;
    background: linear-gradient(to top, rgb(255, 255, 255), transparent);
}


.wrapper .logo {
    width: 10.938vw;
    height: 5.913vh;
    position: absolute;
    left: 1.042vw;
    top: 2.112vh;
}

.wrapper .product-content {
    width: calc(100% - 36.2vw - 3.1vw);
    height: 100%;
    display: inline-block;
    overflow: auto;
}

.wrapper .product-block {
    width: 20vw;
    height: 38.015vh;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    cursor: pointer;
}

.wrapper .product-block:hover .background-arc{
    transform: scale(3, 3);
}

.wrapper .product-block:nth-of-type(3n) {
    border-right: none;
}

.wrapper .product-block-companyName {
    color: #656E7D;
    font-size: 0.729vw;
    text-align: center;
    margin-top: 4.752vh;
}

.wrapper .product-block-deviceName {
    color: #656E7D;
    font-size: 0.938vw;
    text-align: center;
    margin-top: 1.69vh;
}

.wrapper .product-block-deviceImg {
    width: 13.021vw;
    height: 21.119vh;
    margin: 0 auto;
    margin-top: 1.056vh;
}

.wrapper .product-block-deviceImg img {
    max-width: 13vw;
    display: block;
    margin: 0 auto;
    max-height: 21.11vh;
    transition: transform .2s linear;
}

.wrapper .product-block-deviceImg:hover img{
    transform: translateY(5px);
}

.wrapper .product-block-deviceModel {
    color: #ABB2BF;
    font-size: 0.625vw;
    text-align: center;
}

.wrapper .background-arc {
    width: 13.542vw;
    height: 27.455vh;
    background-color: #E8EBF0;
    border-radius: 50%;
    position: absolute;
    top: 2.640vh;
    left: 50%;
    margin-left: -6.771vw;
    z-index: -1;
    transition: transform .5s linear;
}