.wrapper {
    width: 100%;
    height: 100%;
    font-size: 0;
    background-color: #fff;
    position: relative;
}

.wrapper .logo {
    width: 10.938vw;
    height: 5.913vh;
    position: absolute;
    top: 2.112vh;
    left: 2.083vw;
    z-index: 10;
}

.wrapper .mobile-close {
    display: none;
}

.wrapper .logo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.wrapper .page-left {
    width: 53.542vw;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}

.wrapper .page-left .arc {
    width: 80%;
    height: 15vh;
    border-radius: 50%;
    background-image: linear-gradient(to right, #71E898 , #5AB8FB);
    position: absolute;
    bottom: 6.336vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .page-left .arc .inside {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 50%;
    background-color: #fff;
}

.wrapper .page-left .arc1 {
    width: 60%;
    height: 10vh;
    border-radius: 50%;
    bottom: 9.336vh;
}

.wrapper .page-left img {
    width: 30.042vw;
}

.swiper-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    height: 80%;
}
.swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    transform: scale(0.6);
  }
  .swiper-slide-active,.swiper-slide-duplicate-active{
    transform: scale(1.3);
}

.wrapper .page-left .swiper-btn {
    width: 2.604vw;
    height: 9.504vh;
    background-color: #F1FDF6;
    border: 1px solid #5AAF7C;
    border-radius: .2vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wrapper .page-left .swiper-btn img {
    width: 60%;
}

.wrapper .page-left .left {
    left: 1.302vw;
}

.wrapper .page-left .right {
    right: 1.302vw;
}

.wrapper .page-right {
    width: calc(100% - 57.7vw);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-top: 13.728vh;
    padding-left: 2.604vw;
}

.wrapper .page-right .back {
    width: 100%;
    height: 3.168vh;
    line-height: 33.168vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.wrapper .page-right .back img {
    width: 1.563vw;
    height: 3.168vh;
}

.wrapper .page-right .back p {
    font-size: 1.042vw;
    color: #848B97;
    margin-left: 0.313vw;
}

.wrapper .page-right .title {
    font-size: 2.083vw;
    line-height: 2.917vw;
    font-weight: 600;
    color: #656E7D;
}

.wrapper .page-right .normal {
    color: #656E7D;
    font-size: 0.729vw;
    line-height: 1.042vw;
    margin-top: 0.521vh;
}

.wrapper .page-right .text-content {
    color: #656E7D;
    font-size: 0.729vw;
    line-height: 1.042vw;
    margin-top: 2.851vh;
}

.wrapper .page-right .do {
    width: 15.156vw;
    margin-top: 8.448vh;
    height: 6.441vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.wrapper .page-right .do .detail {
    color: #0B90DA;
    font-size: 0.781vw;
    line-height: 1.094vw;
    text-decoration: underline;
    cursor: pointer;
}

.wrapper .page-right .do .btn {
    width: 8.177vw;
    height: 100%;
    background-color: #399F62;
    text-align: center;
    line-height: 6.441vh;
    font-size: 0.938vw;
    color: #fff;
    border-radius: .3vw;
    cursor: pointer;
}

.wrapper .page-right .do .btn:hover {
    opacity: .8;
}

.wrapper .page-right .do .shop {
    position: absolute;
    width: 11.771vw;
    height: 13.355vh;
    background-color: #fff; 
    border-radius: .2vw;
    box-shadow: 0px 2px 12px 0px rgba(40,48,81,0.22);
    display: none;
    position: absolute;
    top: 3vh;
    left: 15.588vw;
}

.wrapper .page-right .do .shop .inside {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .page-right .do .shop .inside a {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .page-right .do .shop img {
    width: 8.333vw;
    cursor: pointer;
}

.wrapper .mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0,0,0,.4);
}

.wrapper .product-detail {
    width: 46.875vw;
    height: 100%;
    background-color: #fff;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 11;
    box-sizing: border-box;
    padding-left: 2.344vw;
    padding-top: 5.808vh;
    overflow-y: auto;
}

.wrapper .product-detail .back {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.wrapper .product-detail .back img {
    width: 1.563vw;
}

.wrapper .product-detail .back p {
    color: #656E7D;
    font-size: 1.042vw;
    margin-left: .4vw;
}

.wrapper .product-detail .title {
    color: #656E7D;
    font-size: 2.083vw;
    line-height: 2.917vw;
    margin-top: .2vh;
}

.wrapper .product-detail .content {
    width: 100%;
    margin-top: 2vh;
}

.wrapper .product-detail .content .row {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4.963vh;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.wrapper .product-detail .content .row span {
    display: inline-block;
    width: 5.677vw;
    font-size: 0.833vw;
    color: #656E7D;
    vertical-align: top;
    
}

.wrapper .product-detail .content .row p {
    width: 28.125vw;
    font-size: 0.833vw;
    display: inline-block;
    color: #656E7D;
    vertical-align: top;
    padding: 1.5vh 0;
    padding-left: .7vw;
    border-left: 1px solid #ccc;
}

.wrapper .product-detail .shop-btn {
    width: 8.177vw;
    height: 6.441vh;
    line-height: 6.441vh;
    text-align: center;
    color: #fff;
    font-size: 0.938vw;
    border-radius: .4vw;
    background-color: #399F62;
    margin-top: 5.28vh;
    cursor: pointer;
    position: relative;
}

.wrapper .product-detail .detail-shop {
    width: 11.771vw;
    height: 13.355vh;
    background-color: #fff; 
    border-radius: .2vw;
    box-shadow: 0px 2px 12px 0px rgba(40,48,81,0.22);
    position: absolute;
    bottom: -5vh;
    left: 9vw;
    display: none;
}

.wrapper .product-detail .detail-shop .inside {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .product-detail .detail-shop a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.wrapper .product-detail .detail-shop img {
    height: 5.069vh;
}